/*
* Custom styles for user list.
*/
body {
    margin: 1em 0;
}
.panel .panel-heading{
    padding: 0px;
}
.panel .panel-heading .clickable{
    padding: 10px 15px;
    text-decoration: none;
}

#userlist {
    margin: 1em 0;
}

#userlist thead tr th {
    border: none;
}

#userlist .panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: '\e114';
    float: right;
    color: gray;
}
#userlist .panel .panel-heading{
    padding: 10px 15px;
}
#userlist .panel-heading .collapsed:after {
    content: '\e080';
}

#userlist .panel-heading .panel-title div {
    margin-right: 0.4em;
}

#userlist .panel a:hover {
    cursor: pointer;
}

#userlist .tab-content .tab-pane {
    margin-top: 1em;
}